<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>AdminSignup</title>
</head>
<body>
    <div style="text-align: center">
        <h2>Register Yourself From Here :</h2>
    <form action "/signup" method="POST" class="form-control">
        <p></p>
        <label><b>Your Name :</b> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" name="name">
        <p></p>
        <label> <b>Create Username :</b></label><input type="text" name="username">
        <p></p>
        <label> <b>Create Password :</b>&nbsp;</label><input type="password" name="password">
        <p></p>
        <button class="btn btn-success">Create Account</button>

    </form>
    </div>
</body>
</html>